.page {
  position: relative;
  color: var(--main-text-color);
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  background: center / cover var(--bg-image) no-repeat;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.rec {
  display: none;
  position: absolute;
  top: 20px;
  right: 48px;
  z-index: 0;
  color: #ff0070;
  line-height: 25px;
  text-transform: uppercase;
}

.rec::before {
  content: "";
  font-size: 15px;
  position: absolute;
  left: 42px;
  top: 8px;
  background-color: #ff0070;
  box-shadow: 0 0 6px 5px #ff0070;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
}

.container {
  padding: 0 20px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin-block-end: 60px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  block-size: max(100vh, 648px);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--accent-text-color);
  border-right: 1px solid var(--accent-text-color);
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--accent-text-color);
  border-left: 1px solid var(--accent-text-color);
  block-size: 25px;
  inline-size: 25px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 13px 10px;
}

.header__theme-menu-button {
  border: 0;
  border-radius: 0;
  padding: 0 13px;
  color: var(--accent-text-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-text-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-text-color);
  cursor: default;
}

.header__theme-menu-button_active:hover {
  outline: 1px solid var(--accent-text-color);
}

.header__title {
  align-self: center;
  margin: -20px;
}

.title-text {
  color: var(--header-title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.subtitle {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  margin-block-end: 59px;
  inline-size: 48vw;
}

.section {
  display: grid;
}

.why {
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.why__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.subtitle + .text {
  padding-top: 10px;
}
section {
  margin-block-end: 80px;
}

section:last-child {
  margin-block-end: 60px;
}

.what {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
}

.what__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: 2/1/3/4;
  gap: 20px;
}

.what__list li {
  flex-grow: 1;
}

.section-title {
  padding: 0 10px 20px 0;
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 18px;
}

.what .section-title {
  grid-area: 1/1/2/2;
}

.how {
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.advice__card__title {
  margin-bottom: 10px;
}

.advice__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advice__subtitle {
  margin-bottom: 20px;
}

.advice__card__title {
  font-weight: 400;
}

.list-pictures {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  display: grid;
  grid-template-columns: repeat(3,  1fr);
  grid-template-areas:
    "sunset sunset icecream"
    "music books icecream"
    "music street street";
  gap: 12px 20px;
  margin-top: 20px;
  inline-size: 100%;
}

.picture {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.sunset {
  grid-area: sunset;
}

.icecream {
  grid-area: icecream;
}

.music {
  grid-area: music;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: max(100vh, 668px);
}

@media (width < 1024px) {
  .header__theme-menu {
    align-self: center;
    margin-block-start: 115px;
  }

  .header__subtitle {
    margin-block-end: 115px;
    inline-size: 47vw;
  }

  .what__list {
    display: flex;
    flex-direction: column;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
  }
}

@media (width < 768px) {
  .rec {
    top: 10px;
    right: 38px;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .list-pictures {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-start: 10px;
    block-size: auto;
  }

  .picture {
    display: block;
  }

  .header__theme-menu {
    margin: 0;
  }

  .header__subtitle {
    margin: 0;
    inline-size: 100%;
  }

  .container {
    padding: 0 10px;
  }

  .header {
    margin-block-end: 40px;
    padding: 20px 10px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .header__title {
    margin: 0;
  }

  .title-text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  section {
    margin-block-end: 50px;
  }

  section:last-child {
    margin-block-end: 40px;
  }

  .section__pictures {
    block-size: 100%;
  }
}
