.page {
  /* background-image: url(../images/cover-image-light.png);
  background-position: center;
  background-attachment: fixed; */
  position: relative;
  color: var(--main-text-color);
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  background-color: var(--main-color);
  background-attachment: fixed;
  /* max-inline-size: 1024px; */
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.page::before {
  content: "REC";
  position: absolute;
  top: 20px;
  right: 48px;
  z-index: 0;
  color: #ff0070;
  line-height: 25px;
  text-transform: uppercase;
}

.page::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: -1;
  line-height: 25px;
  background-image: url(../images/ellipse.svg);
  background-position: center;
  block-size: 25px;
  inline-size: 25px;
}

.container {
  padding: 0 20px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin-block-end: 60px;
  padding: 20px;
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  block-size: 100vh;
}

header::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--accent-text-color);
  border-right: 1px solid var(--accent-text-color);
  block-size: 25px;
  inline-size: 25px;
}

header::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--accent-text-color);
  border-left: 1px solid var(--accent-text-color);
  block-size: 25px;
  inline-size: 25px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 13px 10px;
}

.header__theme-menu-button {
  border: 0;
  border-radius: 0;
  padding: 0 13px;
  color: var(--accent-text-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--main-text-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-text-color);
  cursor: default;
}

.header__title {
  align-self: center;
  margin: -20px;
  color: var(--header-title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.subtitle {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  margin-block-end: 59px;
  inline-size: 48vw;
}

.why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.why__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtitle + .text {
  padding-top: 10px;
}
section {
  margin-block-end: 80px;
}

section:last-child {
  margin-block-end: 60px;
}

.what {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
}

.what__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: 2/1/3/4;
  gap: 20px;
}

.what__list li {
  flex-grow: 1;
}

.section__title {
  padding: 0 10px 20px 0;
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 18px;
}

.what .section__title {
  grid-area: 1/1/2/2;
}

.how {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.advice__card__title {
  margin-bottom: 10px;
}

.advice__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtitle__advice {
  margin-bottom: 20px;
}

.how__pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "sunset sunset icecream"
    "music books icecream"
    "music street street";
  gap: 20px 20px;
  margin-top: 20px;
  inline-size: 100%;
  block-size: 49vw;
}

.picture__mobile {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.section__pictures {
  block-size: 107vw;
}

.sunset {
  grid-area: sunset;
  /* background-image: url("../images/sunset.png"); */
}
.icecream {
  grid-area: icecream;
  /* background-image: url("../images/ice-cream.png"); */
}
.music {
  grid-area: music;
  /* background-image: url("../images/tape.png"); */
}
.books {
  grid-area: books;
  /* background-image: url("../images/books.png"); */
}
.street {
  grid-area: street;
  /* background-image: url("../images/street.png"); */
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
}

.footer_text {
  color: var(--header-title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--accent-color);
}

footer::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  border-inline-end: 1px solid var(--accent-text-color);
  border-block-start: 1px solid var(--accent-text-color);
  block-size: 25px;
  inline-size: 25px;
}

footer::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-inline-start: 1px solid var(--accent-text-color);
  border-block-end: 1px solid var(--accent-text-color);
  block-size: 25px;
  inline-size: 25px;
}

@media (width < 1024px) {
  .header__theme-menu {
    align-self: center;
    margin-block-start: 115px;
  }

  .header__subtitle {
    margin-block-end: 115px;
    inline-size: 47vw;
  }

  .what__list {
    display: flex;
    flex-direction: column;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
  }
}

@media (width < 768px) {
  .what {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .what__list {
    display: flex;
    flex-direction: column;
  }

  .why {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .how {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .how__pictures {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-start: 10px;
    block-size: auto;
  }

  .picture__mobile {
    display: block;
    inline-size: 100%;
  }

  .header__theme-menu {
    margin: 0;
  }

  .header__subtitle {
    margin: 0;
    inline-size: 100%;
  }

  .container {
    padding: 0 10px;
  }

  .header {
    margin-block-end: 40px;
    padding: 20px 10px;
  }

  header::after {
    top: 10px;
    right: 10px;
  }

  header::before {
    bottom: 10px;
    left: 10px;
  }

  .header__title {
    margin: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  section {
    margin-block-end: 50px;
  }

  section:last-child {
    margin-block-end: 40px;
  }

  footer::after {
    top: 10px;
    right: 10px;
  }

  footer::before {
    bottom: 10px;
    left: 10px;
  }

  .section__pictures {
    block-size: 100%;
  }
}
