/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*//* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root{
  --font: 'IBM Plex Mono', sans-serif;
  --main-text-color: #353430;
  --main-color:#FFF1F7;
  --accent-color: #FF8DCB;
  --accent-text-color:#353430;
  --section-title-color:#353430;
  --header-title-color:#FFC2E6;
}